h1 {
    border-bottom-style: inset;
}

h2 {
    margin-top: 12px;
}


h5 {
    font-style: italic;
    margin-top: 40px;
}

figure {
    display: inline-block;
    font-size: 0.7em;
    margin: 5px;
}

img.imgProg {
    max-width: 100%;
}

img.poltrona { 
    width: 24px;
    height: 16px;
}

.aDireita {
    text-align: right;
}

.margemSup {
    margin-top: 30px;
}

.margemEsq {
    margin-left: 15px;
}

.oculta { 
    display: none;
}

.exibe {
    display: inline;
}


