body{
    background-color: rgb(96, 86, 240);
    font: normal 15pt Arial
}
header{
    color:white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}
footer{
    color:white;
    text-align: center;
    font-style: italic;
}
h1{
    border-bottom-style: inset ;
}
img{
    float: left;
    width: 350px;
    height: 270px;
}